@font-face {
    font-family: "Comfortaa";
    src: url(/assets/fonts/comfortaa/Comfortaa-Regular.woff) format("woff"),
         url(/assets/fonts/comfortaa/Comfortaa-Regular.ttf) format("truetype");
}

header {
    width: 100%;
    background-color: #151217;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

img {
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 1rem;
}

ul {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FDD90B;
    font-family: "Comfortaa", sans-serif;
}

a:hover {
    color: #DA001E;
}