@font-face {
    font-family: "Comfortaa";
    src: url(/assets/fonts/comfortaa/Comfortaa-Regular.woff) format("woff"),
         url(/assets/fonts/comfortaa/Comfortaa-Regular.ttf) format("truetype"),
         url(/assets/fonts/comfortaa/Comfortaa-Bold.woff) format("woff"),
         url(/assets/fonts/comfortaa/Comfortaa-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Bubbleboddy-neue";
    src: url(/assets/fonts/bubbleboddy-neue/bubbleboddyneue-regulartrial.woff) format("woff"),
         url(/assets/fonts/bubbleboddy-neue/bubbleboddyneue-regulartrial.ttf) format("truetype")
         url(/assets/fonts/bubbleboddy-neue/BubbleboddyNeue-BoldTrial.woff) format("woff"),
         url(/assets/fonts/bubbleboddy-neue/BubbleboddyNeue-BoldTrial.ttf) format("truetype");
}

main {
    padding: 12rem 0rem 5rem 0rem;
    background-color: #f9d0a3;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Bubbleboddy-neue", sans-serif;
    color: #151217;
    font-size: 3rem;
    margin-bottom: 2rem;
}

img {
    border-radius: 3rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

p {
    font-family: "Comfortaa", sans-serif;
    color: #151217;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #fdd90b;
    color: #151217;
    border: #151217 1px solid;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #da001e;
    cursor: pointer;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
    }

    p {
        font-size: 1rem;
        margin: 1rem;
    }
}